{% extends 'base.html' %}

{% block title %}Activity{% endblock %}

{% block page %}
<article>
  <h1>Weekly Activity</h1>
  <table>
    <thead>
      <th>weeks ago</th>
      {% for _ in weeks %}
      <th>{{ loop.index }}</th>
      {% endfor %}
    </thead>
    <tbody>
      <tr>
        <th>commits</th>
        {% for qt in weeks %}
        <td>{{ qt }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th>%</th>
        {% for qt in weeks %}
        <td>{{ '%.2f' % (qt * 100.0 / commits.__len__()) }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</article>
<article>
  <h1>Hour of Day</h1>
  <table>
    <thead>
      <tr>
        <th>hour</th>
        {% for _ in hours %}
        <th>{{ loop.index0 }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>commits</th>
        {% for qt in hours %}
        <td>{{ qt }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th>commits</th>
        {% for qt in hours %}
        <td>{{ '%.2f' % (qt * 100.0 / commits.__len__()) }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</article>
<article>
  <h1>Day of Week</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>commits</th>
        {% for qt in week_days %}
        <td>{{ qt }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th>%</th>
        {% for qt in week_days %}
        <td>{{ '%.2f' % (qt * 100.0 / commits.__len__()) }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</article>
<article>
  <h1>Hour of Week</h1>
  <table>
    <thead>
      <th></th>
      {% for _ in week_hours[0] %}
      <th>{{ loop.index0 }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% set DAYS = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
      {% for day in week_hours %}
      <tr>
        <th>{{ DAYS[loop.index0] }}</th>
        {% for qt in day %}
        <td>{{ qt or '' }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
{% endblock %}