{% extends 'base.html' %}

{% block title %}Contributors{% endblock %}

{% block page %}
<article>
  <h1>Contributors</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name (email)</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for email, (count, name, cms) in authors.iteritems() %}
      <tr>
        <th>{{ loop.index }}</th>
        <td>{{ name }} ({{ email }})</td>
        <th> </th>
        <td></td>
        <th></th>
        <td></td>
        <th></th>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
<article>
  <h1>Longest commit messages</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Commit</th>
        <th>Author</th>
        <th>Length</th>
      </tr>
    </thead>
    <tbody>
      {% for cm in sort_by_text_len(commits)[:10] %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ cm.hash[:8] }}</td>
        <td>{{ cm.auth_name }}</td>
        <td>{{ cm.text | length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
<article>
  <h1>Most Commits in One Day</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Commit</th>
        <th>Author</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for no, email, date in (commits_per_day | sort(reverse=1))[:10] %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ no }}</td>
        <td>{{ authors[email][1] }}</td>
        <td>{{ date.strftime(DATE_FMT) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
{% endblock %}