<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} | OWASP Project Metrics</title>
    <link rel="stylesheet" type="text/css" href="../../style.css">
  </head>
  <body>
    <header class="top-bar">
      <hgroup>
        <h1>{{ project }}</h1>
        <h2>by OWASP Project Metrics</h2>
      </hgroup>
      <nav>
        <ul>
          <li><a href="index.html">summary</a></li>
          <li><a href="activity.html">activity</a></li>
          <li><a href="authors.html">contributors</a></li>
          <li><a href="code.html">code</a></li>
        </ul>
      </nav>
    </header>
    <div class="page">
      {% block page %}
      {% endblock %}
    </div>
  </body>
</html>