{% extends 'base.html' %}

{% block title %}Summary{% endblock %}

{% block page %}
<article class="small">
  <h1>Overview</h1>
  <table>
    <tbody>
      <tr>
        <th>Repository</th>
        <td>{{ project }}</td>
      </tr>
      <tr>
        <th>Report Period</th>
        <td>from {{ start_interval.strftime(DATE_FMT) }} to {{ now.strftime(DATE_FMT) }}</td>
      </tr>
      <tr>
        <th>Age</th>
        <td>{{ (end_interval - start_interval).days }}</td>
      </tr>
      <tr>
        <th>Total Files</th>
        <td>{{ files | length }}</td>
      </tr>
      <tr>
        <th>Total Lines of Code</th>
        <td>{{ lines }}</td>
      </tr>
      <tr>
        <th>Total Commits</th>
        <td>{{ commits | length }}</td>
      </tr>
      <tr>
        <th>Commits per Day</th>
        <td>{{ '%.2f' % (commits.__len__() / ((end_interval - start_interval).days or 1)) }}</td>
      </tr>
      <tr>
        <th>Main Language</th>
        <td>{{ EXT2LANGUAGE.get(extensions.most_common(1)[0][0], extensions.most_common(1)[0][0]) }}</td>
      </tr>
      <tr>
        <th>Branch</th>
        <td>{{ branch }}</td>
      </tr>
    </tbody>
  </table>
</article>
<article class="normal">
  <h1>Commits</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>all time</th>
        <th>last 7 days</th>
        <th>last 1 month</th>
        <th>last 3 months</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Commits</th>
        <td>{{ commits | length }}</td>
        <td>{{ last_7days_commits | length }}</td>
        <td>{{ last_30days_commits | length }}</td>
        <td>{{ last_90days_commits | length }}</td>
      </tr>
      <tr>
        <th>Contributors</th>
        <td>{{ authors | length }}</td>
        <td>{{ last_7days_authors | length }}</td>
        <td>{{ last_30days_authors | length }}</td>
        <td>{{ last_90days_authors | length }}</td>
      </tr>
    </tbody>
  </table>
</article>
<article class="small">
  <h1>Language</h1>
  <table>
    <thead>
      <tr>
        <th>Language</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
      {% for ext, count in extensions.iteritems() %}
        {% if ext in EXT2LANGUAGE %}
          <tr>
            <td>{{ EXT2LANGUAGE.get(ext, ext) }}</td>
            <td>{{ count }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</article>
<article class="small">
  <h1>Contributors</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name (email)</th>
        <th>Commits</th>
      </tr>
    </thead>
    <tbody>
      {% for email, (count, name, _) in ((authors.items() | sort))[:5] %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ name }} ({{ email }})</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
{% endblock %}
